extends ../../../index.pug

block scene
    a-assets
        img#boxTexture(crossorigin src="https://i.imgur.com/mYmmbrp.jpg")
        img#skyTexture(crossorigin src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/city.jpg")
        //- img#skyTexture(crossorigin src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/sechelt.jpg")
        img#groundTexture(crossorigin src="https://cdn.aframe.io/a-painter/images/floor.jpg")
        img#photo1(src="/assets/photos/TASS_170984.jpg")
        //- img#photo1(src="/assets/photos/TASS_186313.jpg")
        img#photo2(crossorigin src="https://pbs.twimg.com/profile_images/1481569385/y_902e2a9f_400x400.jpg")
        audio#ak47_shots(src="/assets/audio/ak-47_shots.mp3")

    a-sky(color="#00000a")
    //- a-sphere.sky(radius="2000" color="#fff" __src="#skyTexture" side="back")

    a-light.sky_light(type="ambient" color="#fff" intensity="0")
    a-light.sky_light(type="point" position="0 4 0" color="#fff" intensity="0")
    a-entity.sky_weather(position="0 0 0" particle-system="preset: snow; particleCount: 5000; velocityValue: 1 4 1;")

    //- global objects
    a-entity#player(position="0 2 0")
        a-camera
            a-cursor(position="1 0 0" color="#aaa" fuse="true" fuse-timeout="500" raycaster="objects: .interactive" follow-mouse)

    //- scene fragments
    a-entity#backlight(position="0 0 0")
        a-sphere.background(radius="1000" phi-start="220" phi-length="180" theta-start="85" theta-length="10" color="#0f0" side="back")
        //- a-entity(position="0 0 -9" particle-explosions="particleCount: 20; positionSpread: 1000 10 1; size: 50; ")
        //- a-entity(position="0 85 -1100" particle-system="particleCount: 20; maxAge: 0.5; duration: 15; randomize: true; positionSpread: 2000 0 1; size: 1000; color: orange; accelerationValue: null; accelerationSpread: null; velocityValue: null; velocitySpread: null" particle-explosions="")
        a-entity(position="0 85 -1100" particle-system="particleCount: 100; maxAge: 0.5; opacity: 0.1; randomize: true; positionSpread: 4000 50 1; size: 1500; color: orange; accelerationValue: null; accelerationSpread: null; velocityValue: 200 100 0; velocitySpread: null; texture: /assets/textures/explosion_map.png;")

    a-entity#group1
        a-light(position="0 5 0" type="point" distance="6")
        a-box(position="0 2 0" width="10" height="0.3" depth="6" color="#ccc" roughness="1")
        a-terrain(position="0 0 0" width="50" height="50" color="#cec" roughness="1")

    a-entity#group2(position="0 0 -200")
        gen-train(wagons="10")

        //- -- variant 1 --
        a-entity#light1(position="-8 1.6 -13.3"
            light="type: point; intensity: 1; penumbra: 0.5; distance: 10; decay: 2; color: #ff844e;"
            sound="src: #ak47_shots; volume: 0.1;"
            geometry="primitive: sphere; radius: 0.2;"
        )
            a-animation(begin="flash" attribute="light.intensity" direction="reverse" delay="20" from="0" to="1" dur="60" repeat="5")

        //- -- variant 2 --
        //- a-entity(position="-8 1.6 -13.3")
        //-     a-sphere(radius="0.2" material="color: red; opacity: 0.5;")
        //-     a-sound()
        //-     a-light(type="point" intensity="1" penumbra="0.5" distance="10" decay="2" color="#ff844e")
        //-         a-animation(begin="flash" attribute="intensity" direction="reverse" delay="30" from="0" to="1" dur="50" repeat="4")

    //- a-entity#bg2(position="0 0 0")
        a-sphere#trigger1.interactive(radius="13" position="-5 0 8" color="red" wireframe="true")
            //- a-animation(begin="click" attribute="scale" to="1.2 1.2 1.2")
        a-entity#trains(rotation="0 10 0")
        a-light#light2(position="-5 5 17" rotation="-35 0 0"
            type="spot" angle="20" intensity="1"
            geometry="primitive: sphere; radius: 0.2;"
        )
            a-animation(begin="start" attribute="position" direction="alternate" to="10 5 17" dur="3000")

        a-light#light3(position="-22 10 5.7" rotation="-26.1 -94 0"
            type="spot" angle="14" intensity="2.5" distance="100"
            geometry="primitive: sphere; radius: 0.1;"
        )
            a-animation(begin="switch" attribute="intensity" direction="alternate" from="2.5" to="0" dur="250" easing="ease-in-back")

    //- a-text(value="Revolution 3D" font="mozillavr" color="#BBB" position="-0.9 0.24 -3" rotation="-45 0 0" scale="1.5 1.5 1.5")


block ui
    div ololo
