extends ../../../index.pug

mixin house(color)
    a-entity.house&attributes(attributes)
        a-box(position="0 0.5 0")
        a-cylinder(position="0 1.14 0" rotation="-90 0 0" scale="1 1 0.5" radius="0.6" segments-radial="3")

block scene
    a-assets
        //- img#boxTexture(crossorigin src="https://i.imgur.com/mYmmbrp.jpg")
        img#skyTexture(crossorigin src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/city.jpg")
        //- img#skyTexture(crossorigin src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/sechelt.jpg")
        img#groundTexture(crossorigin src="https://cdn.aframe.io/a-painter/images/floor.jpg")
        img#photo1(src="/assets/photos/TASS_170984.jpg")
        //- img#photo1(src="/assets/photos/TASS_186313.jpg")
        img#photo2(crossorigin src="https://pbs.twimg.com/profile_images/1481569385/y_902e2a9f_400x400.jpg")
        audio#ak47_shots(src="/assets/audio/ak-47_shots.mp3")

        //- mixins
        a-mixin#debug(material="visible: true; wireframe: true; color: red; shader: flat; opacity: 0.4")
        a-mixin#debug-ray(geometry="primitive: box; width: 1; depth: 2000;" material="shader: flat; color: yellow; opacity: 0.5")
            
        a-mixin#halfSphere(geometry="primitive: sphere; radius: 5; thetaLength: 90;")
        a-mixin#sphere(geometry="primitive: sphere; radius: 5;")

        a-mixin#trigger(material="visible: false;" trigger="")
        a-mixin#trigger-particles(particle-system="preset: snow; particleCount: 100; maxAge: 2; opacity: 0.8; type: 3; size: 1; color: red,orange; positionSpread: 7 0 7; velocityValue: 0 -2 0; velocitySpread: 2 1 0;")

        a-mixin#black(material="shader: flat; color: #000;")
        a-mixin#grey(material="color: #aaa; roughness: 1;")


    a-sky(color="#00000a")

    a-light.sky_light(type="ambient" color="#fff" intensity="1")
    a-light.sky_light(type="point" position="0 4 0" color="#fff" intensity="1")
    //- a-entity.sky_weather.particle-snow(position="0 0 0" particle-system="preset: snow; particleCount: 5000; velocityValue: 1 4 1;")

    //- global objects
    a-entity#player(position="0 2 0" rotation="0 -170 0")
        a-camera(wasd-controls="acceleration: 1650;")
            a-cursor(position="1 0 0" color="#aaa" fuse="true" fuse-timeout="700" raycaster="objects: .interactive" cursor-events)
                a-animation(begin="fusing" end="mouseleave" attribute="color" from="#aaa" to="#ffa" dur="700" easing="ease-in")
                a-animation(begin="fusing" end="mouseleave" attribute="scale" to="1.5 1.5 1.5" dur="700" easing="ease-in")

                a-animation(begin="mouseleave" attribute="color" from="#ffa" to="#aaa" dur="0" easing="ease")
                a-animation(begin="mouseleave" attribute="scale" to="1 1 1" dur="100" easing="ease")

                a-animation(begin="click" attribute="color" from="#ffa" to="#aaa" dur="100" easing="ease-in")
                a-animation(begin="click" attribute="scale" to="2 2 2" dur="150" easing="ease")
                a-animation(begin="click" attribute="scale" to="1 1 1" delay="150" dur="200" easing="ease")

    //- scene fragments
    a-entity#world
        a-entity#backlight(position="0 0 0")
            a-sphere.background(radius="1000" phi-start="150" phi-length="180" theta-start="85" theta-length="40" color="#010" side="back")

            a-entity.pivot(rotation="0 0 0")
                a-entity.particle-fire.smoke(position="0 85 -1050" particle-system="particleCount: 100; maxAge: 5; positionSpread: 1500 50 1; randomize: true; opacity: 0.1; size: 1000; color: red,orange; accelerationValue: null; accelerationSpread: 0 20 20; velocityValue: 200 100 0; velocitySpread: null; texture: /assets/textures/explosion_map.png;")
            
            a-entity.pivot(rotation="0 -45 0")
                a-entity.particle-fire.smoke(position="0 85 -1050" particle-system="particleCount: 100; maxAge: 5; positionSpread: 1500 50 1; randomize: true; opacity: 0.1; size: 1000; color: red,orange; accelerationValue: null; accelerationSpread: 0 20 20; velocityValue: 200 100 0; velocitySpread: null; texture: /assets/textures/explosion_map.png;")
                a-entity.particle-fire.big(position="0 85 -1080" particle-system="particleCount: 5; maxAge: 1.5; positionSpread: 1500 50 1; randomize: true; opacity: 0.3; size: 5000; color: red,black; accelerationValue: null; accelerationSpread: null; velocityValue: null; velocitySpread: null; texture: /assets/textures/explosion_map.png;")
                a-entity.particle-fire.small(position="-350 85 -1010" particle-system="particleCount: 30; maxAge: 0.5; positionSpread: 1100 50 1; randomize: true; opacity: 0.1; size: 1500; color: orange; accelerationValue: null; accelerationSpread: null; velocityValue: 200 100 0; velocitySpread: null; texture: /assets/textures/explosion_map.png;")
            
            a-entity.pivot(rotation="0 -90 0")
                a-entity.particle-fire.smoke(position="0 85 -1050" particle-system="particleCount: 100; maxAge: 5; positionSpread: 1500 50 1; randomize: true; opacity: 0.1; size: 1000; color: red,orange; accelerationValue: null; accelerationSpread: 0 20 20; velocityValue: 200 100 0; velocitySpread: null; texture: /assets/textures/explosion_map.png;")
                a-entity.particle-fire.small(position="200 85 -1010" particle-system="particleCount: 30; maxAge: 0.5; positionSpread: 1100 50 1; randomize: true; opacity: 0.1; size: 1500; color: orange; accelerationValue: null; accelerationSpread: null; velocityValue: 200 100 0; velocitySpread: null; texture: /assets/textures/explosion_map.png;")


        a-entity#group1
            //- a-entity.axis
                a-box(mixin="debug-ray" rotation="0 0 0" color="red")
                a-box(mixin="debug-ray" rotation="0 -90 0" color="red")
                a-box(mixin="debug-ray" rotation="0 -50 0")
                a-box(mixin="debug-ray" rotation="0 -100 0")
                a-box(mixin="debug-ray" rotation="0 -150 0")
            
            a-light(position="0 5 0" type="point" distance="6")
            a-box(position="0 2 0" rotation="0 0 0" width="10" height="0.3" depth="30" src="/assets/textures/wooden_floor.jpg" repeat="2 2" _color="#ccc" roughness="1")
            //- a-terrain(position="0 2 0" width="50" height="50" color="#cec" roughness="1")
            
            //- a-box.helper(position="-342 0 -624" scale="20 200 20" shader="flat" color="blue")
            //- a-box.helper(position="524 0 -342" scale="20 200 20" shader="flat" color="orange")

        //- a-entity#group2_test(position="0 0 -26")
            a-entity.pivot(rotation="0 -17 0")
                a-entity#train2(position="20 0 0" rotation="0 180 0" gen-train="wagonMap: head,tanker,tanker,tanker")

        a-entity#group3(rotation="0 -20 0")
            a-entity(position="0 0 -200")
                a-entity#trigger1(position="-474 3 0" scale="5 5 5")
                    a-entity(mixin="sphere trigger" geometry="radius: 15;")
                    a-entity(mixin="trigger-particles" particle-system="size: 10; maxAge: 4; positionSpread: 25 0 25;")

                a-entity.railway
                    a-box(position="0 -9.9 0" width="2000" height="20" depth="100" mixin="black")
                    a-entity#train1(position="-400 0 0" rotation="0 180 0" scale="2.2 2.2 2.2"
                        __material="shader: flat; color: #000;" __common-material
                        gen-train="wagonMap: head,passanger,passanger,passanger,generic,platform,platform,platform,tanker,tanker,tanker,tanker,passanger,passanger,passanger"
                        __animation__run="startEvents: run; property: position; to: 500 0 0; dur: 6000; delay: 0; easing: linear;"
                    )
                        a-animation(begin="run" delay="1000" dur="7000" attribute="position" to="400 0 0" easing="linear")
                        //- a-animation(begin="run" delay="7000" dur="7000" attribute="material.color" to="#aaa" easing="linear")
                
                    a-box(position="-500 4 0" width="300" height="9" depth="20" mixin="black" color="#000")
                    a-box(position="290 4 0" width="300" height="9" depth="20" mixin="black" color="#000")
                    
                a-entity.houses(__mixin="grey" __common-material)
                    +house()(position="-40 0 -20" scale="10 10 10")
                    +house()(position="10 0 -40" scale="10 10 10")
                    +house()(position="25 0 -20" scale="10 10 10")
                    
                    //- a-image(position="0 65 -40" width="120" height="150" src="/assets/photos/img1.png" material="opacity: 0.8")
                    //- a-entity.particle-fire.small(position="0 -5 -40" particle-system="particleCount: 160; maxAge: 2; positionSpread: 400 10 1; randomize: true; opacity: 0.3; size: 40; color: orange,red; accelerationValue: null; accelerationSpread: 5 5 0; velocityValue: 5 10 0; velocitySpread: null; texture: /assets/textures/explosion_map.png;")
        
        a-entity#group4(rotation="0 -125 0")
            a-entity(position="100 0 -110")
                a-entity.railway
                    a-box(position="0 -9.9 0" width="2000" height="20" depth="100" mixin="black")
                    a-entity#train2(position="-200 0 0" rotation="0 180 0" scale="2.2 2.2 2.2"
                        __material="shader: flat; color: #000;" __common-material
                        gen-train="wagonMap: head,passanger,passanger,passanger,generic,platform,platform,platform,tanker,tanker,tanker,tanker,passanger,passanger,passanger"
                    )
                        a-animation(begin="run" delay="9000" dur="7000" attribute="position" to="230 0 0" easing="ease-out-sine")
                
                    a-box(position="-300 4 0" width="300" height="9" depth="20" mixin="black" color="#000")
                    //- a-box(position="400 4 0" width="300" height="9" depth="20" mixin="black" color="#000")
                    
                a-entity.houses(__mixin="grey" __common-material)
                    +house()(position="-40 0 -20" scale="5 5 5")
                    +house()(position="10 0 -40" scale="5 5 5")
                    +house()(position="25 0 -20" scale="5 5 5")
                    
                    a-light(position="8 13 -50" type="point" color="#fff" intensity="2.7" distance="100")
                    //- a-plane(position="0 8 -50" width="90" height="16" shader="flat" color="#fff")
                    //- a-image#qq(position="0 8 -50" width="90" height="16" src="#photo1")
                    a-entity#portal1(position="0 8 -50" scale="0.05 0.05 0.05")
                        a-plane(scale="1.02 1.02 1" width="0" height="0" shader="flat" color="#fff")
                        a-image(width="0" height="0" src="#photo1" opacity="0" position="0 0 20")
                        rect-light(width="0" height="0" distance="10")
        
        //- a-text(value="Revolution 3D" font="mozillavr" color="#BBB" position="-0.9 0.24 -3" rotation="-45 0 0" scale="1.5 1.5 1.5")


block ui
    div ololo
