extends ../../../index.pug

mixin house(color)
    a-entity.house&attributes(attributes)
        a-box(position="0 0.5 0")
        a-cylinder(position="0 1.14 0" rotation="-90 0 0" scale="1.2 1.2 0.7" radius="0.8" segments-radial="3")

block scene
    a-assets
        include ./template.assets.pug

    a-entity#global
        a-sky(color="#000")
        a-light.sky_light(type="ambient" color="#fff" intensity="0.2")
        a-light.sky_light(type="point" position="0 4 0" color="#fff" intensity="0.2")
        a-entity.sky_weather.particle-snow(position="0 0 0" gpu-particle-system="preset: snow; maxParticles: 500; spawnRate: 50; texture: #tex-particle-1;")


    a-entity#world        
        a-entity#layer0
            a-entity.background-fx
                //- a-path#bg-fire-path(position="0 100 0" line-geometry="" visible="true")
                    a-entity.a-path-point(position="-360 0 -1050" geometry="primitive: box;")
                    a-entity.a-path-point(position="-132 0 -1064" geometry="primitive: box;")
                    a-entity.a-path-point(position="603 0 -946" geometry="primitive: box;")
                    a-entity.a-path-point(position="1128 0 -45" geometry="primitive: box;")
                    a-entity.a-path-point(position="892 0 650" geometry="primitive: box;")

                //- a-entity#fx-fire-1
                    a-entity.particles(position="0 0.11 -1050" gpu-particle-system="maxParticles: 60; lifetime: 5; spawnRate: 7; easeIn: 0.3; easeOut: 0.5; opacity: 0.1; size: 300; color: #a11; positionSpread: 1200 10 1; velocity: 40 20 0; accelerationSpread: 0 20 20; texture: #tex-particle-1;")
                    a-entity.particles(position="0 0.11 -1050" gpu-particle-system="maxParticles: 60; lifetime: 3; spawnRate: 8; easeIn: 0.5; easeOut: 0.6; opacity: 0.1; size: 300; color: #e42; positionSpread: 1200 10 1; velocity: 40 20 0; accelerationSpread: 0 20 20; texture: #tex-particle-1;")

                a-entity#fx-fire-2(position="527 0 -913")
                    a-entity.particles(look-at="0 0 0" gpu-particle-system="maxParticles: 30; lifetime: 3; spawnRate: 10; easeOut: 0.4; opacity: 0.1; size: 300; color: #e25822; positionSpread: 1200 10 1; velocity: 40 20 0; accelerationSpread: 0 20 20; texture: #tex-particle-1;")

                a-entity#fx-fire-3(position="806 0 -671")
                    a-entity.particles(look-at="0 0 0" gpu-particle-system="maxParticles: 100; lifetime: 5; spawnRate: 20; easeOut: 0.4; opacity: 0.1; size: 300; color: #911; positionSpread: 1200 10 1; velocity: 40 20 0; accelerationSpread: 0 20 20; texture: #tex-particle-1;")

            a-entity.background
                a-cylinder.forest(position="0 40 0" geometry="height: 270; radius: 1000; segmentsHeight: 1; thetaStart: 55; thetaLength: 145; openEnded: true;" src="#tex-bg-forest" repeat="2.5 0.9" shader="flat" transparent="true" side="back" color="#f00")
                a-cylinder.forest(position="0 -70 0" geometry="height: 100; radius: 1000; segmentsHeight: 1; thetaStart: 55; thetaLength: 145; openEnded: true;" shader="flat" color="#000" side="back")
                a-cylinder.town(position="0 50 0" geometry="height: 200; radius: 1000; segmentsHeight: 1; thetaStart: 288; thetaLength: 45; openEnded: true;" src="#tex-bg-piter" repeat="1 0.9" shader="flat" transparent="true" side="back" color="#f00")

            a-entity.items
                a-light(position="0 5 0" type="point" distance="9" intensity="1")
                a-box.platform(position="0 1 0" rotation="0 0 0" width="30" height="0.3" depth="5" _src="/assets/textures/wooden_floor.jpg" repeat="1 1" _color="#ccc" roughness="1")
                a-entity#trigger0.interactive(position="0 2 0" mixin="sphere trigger" geometry="radius: 0.7;" material="opacity: 0.1;")

                
        a-entity#layer1-idle(visible="true")
            a-entity.items
                //- a-image#ttt(position="-10 5 -20" look-at="0 0 0" src="#tex-photo-2" height="9" image-init=""
                //-     fx-dissolve="alphaMap: url(/assets/textures/alphaMaps/portal.jpeg); amount: 0;"
                //- )
                a-entity.trigger-group(position="-100 3 0" look-at="0 0 0")
                    a-entity#trigger1.interactive(
                        __sound="src: #audio-click; volume: 50; on: click;"
                        mixin="sphere trigger debug"
                    )
                        a-entity.particles(mixin="trigger-particles" gpu-particle-system="spawnEnabled: true;")

                    a-text(position="-4 5 0" scale="12 12 12" value="START" color="#fff" shader="flat")
                
            
        a-entity#layer1(visible="false")
            a-path#railway1(position="0 0 0" line-geometry="" shader="line" _visible="false")
                a-entity.a-path-point(position="-314 0 -328" geometry="primitive: box;")
                a-entity.a-path-point(position="491 0 -34" geometry="primitive: box;")
                a-entity.a-path-point(position="-231 0 157" geometry="primitive: box;")
                
            a-path#railway2(position="0 0 0" line-geometry="" shader="line" _visible="false")
                a-entity.a-path-point(position="-300 0 -4.4" geometry="primitive: box;")
                a-entity.a-path-point(position="500 0 -4.4" geometry="primitive: box;")
            
            a-entity.items
                a-entity.trigger-group(position="-100 0 0" look-at="0 0 0")
                    a-image(position="0 16 0" height="9" image-init="" src="#tex-text-16" _opacity="0")
                    a-image(position="0 1 0" height="7" image-init="" src="#tex-text-17" _opacity="0")

                a-entity#train1(scale="2.2 2.2 2.2"
                    follow-path="path: #railway1; position: 0;"
                    __material="shader: flat; color: #000;" __common-material
                    gen-train="wagonMap: head,passanger,passanger,passanger,generic,platform,platform,platform,tanker,tanker,tanker,tanker,passanger,passanger,passanger"
                    __sound="src: #audio-sfx-1; volume: 90; loop: false; on: run;"
                )
                    a-animation(begin="run" dur="11000" attribute="follow-path.position" to="0.6" easing="linear")
                    a-animation(begin="run2" dur="11000" attribute="follow-path.position" to="1" easing="ease-out-sine")
                
                a-entity#train2(scale="2.2 2.2 2.2"
                    follow-path="path: #railway2; position: 0;"
                    __material="shader: flat; color: #000;" __common-material
                    gen-train="wagonMap: head,passanger,passanger,passanger,generic,platform,platform,platform,tanker,tanker,tanker,tanker,passanger,passanger,passanger"
                    __sound="src: #audio-sfx-1; volume: 90; loop: false; on: run;"
                )
                    a-animation(begin="run" dur="11000" attribute="follow-path.position" to="1" easing="linear")

                a-image#portal1(position="0 0 1" height="12" image-init="" src="#tex-photo-1" visible="false"
                    fx-dissolve="alphaMap: url(/assets/textures/alphaMaps/portal.jpeg); amount: 0;"
                )


        a-entity#layer2-idle(visible="false" _scale="0 0 0")
            a-entity.items
                a-entity#trigger2.interactive(position="50 3 -100"
                    mixin="sphere trigger debug" _visible="false"
                    __sound="src: #audio-trigger2; volume: 50; on: click;"
                )
                    a-entity.particles(mixin="trigger-particles" gpu-particle-system="spawnEnabled: false;")
            
            
        a-entity#layer2(visible="false" _scale="0 0 0")
            a-entity.items
                a-image(position="50 3 -100" look-at="0 0 0" height="12" image-init="" src="#tex-text-4" _opacity="0")


        a-entity#layer3-idle(visible="false" _scale="0 0 0")
            a-entity.items
                a-entity#trigger3.interactive(position="100 3 50"
                    mixin="sphere trigger debug" _visible="false"
                    __sound="src: #audio-click; volume: 50; on: click;"
                )
                    a-entity.particles(mixin="trigger-particles" gpu-particle-system="spawnEnabled: false;")
            
            
        a-entity#layer3(visible="false" _scale="0 0 0")
            a-path#railway3(position="0 0 0" line-geometry="" shader="line" _visible="false")
                a-entity.a-path-point(position="-300 0 4.4" geometry="primitive: box;")
                a-entity.a-path-point(position="500 0 4.4" geometry="primitive: box;")
            
            a-entity.items
                a-image(position="50 3 -100" look-at="0 0 0" height="12" image-init="" src="#tex-text-4" _opacity="0")

                
                a-entity#train3(scale="2.2 2.2 2.2"
                    follow-path="path: #railway3; position: 0;"
                    __material="shader: flat; color: #000;" __common-material
                    gen-train="wagonMap: head,passanger,passanger,passanger,generic,platform,platform,platform,tanker,tanker,tanker,tanker,passanger,passanger,passanger"
                    __sound="src: #audio-sfx-1; volume: 90; loop: false; on: run;"
                )
                    a-animation(begin="run" dur="11000" attribute="follow-path.position" to="1" easing="linear")












    a-entity#music(volume="0.6")
        a-sound#bg_music(sound="positional: false;" src="#audio-bg-1" volume="0.6" autoplay="true" loop="true")
        
    a-entity#sounds(volume="0.6")
        

    a-entity#playerBox(position="0 1 0" rotation="0 20 0")
        a-camera#player(wasd-controls="acceleration: 650;" fov="75")
            a-entity(position="0 0 -2")
                a-cursor(scale="0.5 0.5 0.5" material="color: #eee; opacity: 0.8; depthTest: false;" fuse="true" fuse-timeout="1500" raycaster="objects: .interactive;" cursor-events="" cursor-animation="")

            //- fov is 75, gui z is -0.7, when 1 is 100% width and about 95% height
            a-entity#gui(position="0 0 -0.07" scale="0.1 0.1 0.1")
                a-entity#messages(position="0 0.3 0")
                //- a-image#tip(position="0 0.3 0" width="0.5" src="" npot="true" image-init="" opacity="0" visible="false")

block ui
    div ololo
