doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        //- meta(property="og:type" content="website")
        //- meta(property="og:url" content="http://allrussia.online")
        //- meta(property="og:title" content="\"РОССИЯ ОНЛАЙН\" — Красиво. Интерактивно. О стране.")
        //- meta(property="og:description" content="ТАСС представляет бета-версию проекта интерактивной визуализации данных")
        //- meta(property="og:image" content="http://allrussia.online/assets/images/share/OG-MAIN_1200x630.png")

        //- link(rel="image_src" href="http://allrussia.online/assets/images/share/OG-MAIN_1200x630.png")
        link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:R,B,I,L,BI,LI&subset=Latin,Cyrillic")
        link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu+Condensed:R,B,I,L,BI,LI&subset=Latin,Cyrillic")
        link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:R,B,I,L,BI,LI&subset=Latin,Cyrillic")
        link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:R,B,I,L,BI,LI&subset=Latin,Cyrillic")
        //- link(rel="stylesheet" href="http://afeld.github.io/emoji-css/emoji.css")

        link(rel="shortcut icon" href="favicon.png" type="image/x-icon")
        link(rel="shortcut icon" href="favicon.svg" type="image/svg+xml")
        link(rel="mask-icon" href="favicon.svg" color="blue")

        script(src="/config.js")

        // Google Tag Manager (noscript)
        //- noscript
        //-     iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PS3VMVS" height="0" width="0" style="display:none;visibility:hidden")
        // End Google Tag Manager (noscript)

        block head
            title Революция 3D

    body
        //- a(ui-sref="home-menu")
        //-     img.logo-ro(src=require("assets/images/logo/ro.svg"))
        //- a(href="http://tass.ru/" target="_blank")
        //-     img.logo-tass(src=require("assets/images/logo/tass.svg") )
        div#viewport
            a-scene#scene(shadows="true")
                block scene
            div#scene-ui
                block ui

        // Google Tag Manager
        //- script.
        //-     (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        //-     var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        //-     j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        //-     })(window,document,'script','dataLayer','GTM-PS3VMVS');
        // End Google Tag Manager
